<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>819945212373-hrpinh671g8bbhdgk7m9se7baljbld6u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.819945212373-hrpinh671g8bbhdgk7m9se7baljbld6u</string>
	<key>API_KEY</key>
	<string>AIzaSyAnZBUgsH9eYtIQIWsEyyAW5I2Ks0bEe3o</string>
	<key>GCM_SENDER_ID</key>
	<string>819945212373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.GreenEnergy</string>
	<key>PROJECT_ID</key>
	<string>greenenergy-e6b26</string>
	<key>STORAGE_BUCKET</key>
	<string>greenenergy-e6b26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:819945212373:ios:12a841262aa2b515c3555c</string>
	<key>DATABASE_URL</key>
	<string>https://greenenergy-e6b26.firebaseio.com</string>
</dict>
</plist>